.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;

}

.productCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;


}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eaeaea;
}

.favouriteAdd {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  // span {
  //   position: absolute;
  //   top: 10px;
  //   right: 10px;
  //   color: red;
  //   font-size: 20px;
  // background-color: #2d4373;

  .starSvg {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #2d4373;
  }
}

.articul {
  position: absolute;
  top: 0;
  left: 15px;
  color: grey;
  font-size: 15px;
  font-weight: 600;
}

.buttonAdd {
  display: block;
  width: 60%;
  padding: 10px 0;
  text-align: center;
  background-color: #8A33FD;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px auto;


  &:hover {
    background-color: #0056b3;
  }
}