.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: whitesmoke;
  color: #fff;
  width: 100%;
}

.siteLogo {
  width: 20%;
  height: auto;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.svgContainer {
  display: flex;
}

.svgButtons {
  display: flex;
  margin-left: 20px;

  span {
    font-size: 20px;
    color: #8A33FD;
    font-weight: 700;
  }
  // top: 15px;
  // right: 15px;

  .favouriteSvg {
    // position: absolute;
    // top: 15px;
    // right: 15px;
    background-color: #2d4373;
  }

  .cartSvg {

  }
}

.menuButton {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  background-color: #8A33FD;
}


.cart-icon {
  cursor: pointer;
}

.footer1 {
  display: flex;
  padding: 20px;
  background-color: whitesmoke;
  color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.rights {
  font-size: 25px;
  color: #8A33FD;
  font-weight: 600;
}

.footerNav {
  display: flex;
}